{{> navbar}}
<div class="container">
  <form action="/api/exercises" method="post">
    <h4 class="text-center">New Exercise</h4>

    <div class="form-row mt-4">
      {{!-- Name input --}}
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      {{!-- Type input --}}
      <div class="form-group col-6">
        <label for="type">Type</label>
        <input type="text" class="form-control" name="type">
      </div>
      {{!-- Weight input --}}
      <div class="form-group col-6">
        <label for="weight">Weight</label>
        <div class="input-group">
          <input type="number" class="form-control" name="weight">
          <div class="input-group-append">
            <span class="input-group-text">lbs</span>
          </div>
        </div>
      </div>
      {{!-- Sets input --}}
      <div class="form-group col-6">
        <label for="sets">Sets</label>
        <input type="number" class="form-control" name="sets">
      </div>
      {{!-- Reps input --}}
      <div class="form-group col-6">
        <label for="reps">Reps</label>
        <input type="number" class="form-control" name="reps">
      </div>
      {{!-- Duration input --}}
      <div class="form-group col-6">
        <label for="duration">Duration</label>
        <div class="input-group">
          <input type="number" class="form-control" name="duration">
          <div class="input-group-append">
            <span class="input-group-text">min</span>
          </div>
        </div>
      </div>
      {{!-- Distance input --}}
      <div class="form-group col-6">
        <label for="distance">Distance</label>
        <div class="input-group">
          <input type="number" class="form-control" name="distance">
          <div class="input-group-append">
            <span class="input-group-text">mi.</span>
          </div>
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-outline-light btn-lg">Save</button>
  </form>
  <div>
    <div class="form-row d-flex justify-content-center">
      {{#each exercises}}
      <label class="exerciseCard card m-2" for={{_id}}>
        <i class="material-icons align-self-end clear" data-type="exercise" data-id="{{_id}}">clear</i>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{name}}</h5>
          <span class="card-title">{{type}}</span>
          {{#if weight}}
          <span class="card-title">Weight: {{weight}} lbs</span>
          {{/if}}
          {{#if sets}}
          <span class="card-title">Sets: {{sets}}</span>
          {{/if}}
          {{#if reps}}
          <span class="card-title">Reps: {{reps}}</span>
          {{/if}}
          {{#if duration}}
          <span class="card-title">Duration: {{duration}} mins</span>
          {{/if}}
          {{#if distance}}
          <span class="card-title">Distance: {{distance}} mi.</span>
          {{/if}}
        </div>
      </label>
      {{/each}}
    </div>
  </div>
</div>