{{> navbar}}
<div class="container-fluid">
  <form action="/api/sessions" method="post">
    <div class="form-row">
      <div class="form-group col-12">
        <h4>Session</h4>
        <input type="datetime-local" class="form-control" name="name" id="sessionName">
      </div>
    </div>
    <h4 class="form-row pl-1 mb-0">Select Exercise</h4>
    <div class="form-row d-flex justify-content-center">
      {{#each exercises}}
      <label class="exerciseCard card m-2" for={{_id}}>
        <input class="align-self-end" type="checkbox" name="exercises" value={{_id}} id={{_id}}>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{name}}</h5>
          <span class="card-title">{{type}}</span>
          {{#if weight}}
          <span class="card-title">Weight: {{weight}} lbs</span>
          {{/if}}
          {{#if sets}}
          <span class="card-title">Sets: {{sets}}</span>
          {{/if}}
          {{#if reps}}
          <span class="card-title">Reps: {{reps}}</span>
          {{/if}}
          {{#if duration}}
          <span class="card-title">Duration: {{duration}} mins</span>
          {{/if}}
          {{#if distance}}
          <span class="card-title">Distance: {{distance}} mi.</span>
          {{/if}}
        </div>
      </label>
      {{/each}}
      <a href="/newExercise" class="exerciseCard card m-2">
        <i class="material-icons plus text-light">add</i>
      </a>
    </div>
    <button type="submit" class="btn btn-outline-light btn-lg mt-2">Save</button>
  </form>
</div>