{{> navbar}}
<div class="container">
  <form action="/api/sessions" method="post" id="newSessionForm">
    <div class="form-row">
      <div class="form-group col-12">
        <label for="name">Session</label>
        <input type="datetime-local" class="form-control" name="name" id="sessionName">
      </div>
    </div>
    <h3 class="form-row">Select Exercise</h3>
    <div class="form-row">
      {{#each exercises}}
      <div class="exerciseCard card m-3">
        <input type="checkbox" name="exercises" value={{_id}}>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{name}}</h5>
          <span class="card-title">{{type}}</span>
          {{#if weight}}
          <span class="card-title">Weight: {{weight}} lbs</span>
          {{/if}}
          {{#if sets}}
          <span class="card-title">Sets: {{sets}}</span>
          {{/if}}
          {{#if reps}}
          <span class="card-title">Reps: {{reps}}</span>
          {{/if}}
          {{#if duration}}
          <span class="card-title">Duration: {{duration}} mins</span>
          {{/if}}
          {{#if distance}}
          <span class="card-title">Distance: {{distance}} mi.</span>
          {{/if}}
        </div>
      </div>
      {{/each}}
      <button href="/newExercise" class="exerciseCard card m-3">
        <i class="material-icons plus text-secondary">add</i>
      </button>
    </div>
      <button type="submit" class="btn btn-primary left">Save</button>
  </form>
</div>